<div class="application-warp">

    <main class="content">
        <div class="wrap-container">

            <div class="container">

                <!-- Form container -->
                <div class="layout wrap">

                    <div class="flex xs12 md7 order-xs2 order-md1">

                        <div class="stepper">

                            <!-- Step 1 -->
                            <div class="step-wrapper">
                                <div class="stepper__step" id="header_1">

                                    <span class="stepper__step__step primary">1</span>

                                    <div class="stepper__label">
                                        <div>Contact information</div>
                                        <small>Billing information and shipping address</small>
                                    </div>

                                </div>
                                <div class="stepper__content" id="step__1">

                                    <div class="stepper__wrapper">

                                        <div class="container">

                                            <div class="layout row wrap">

                                                <div class="flex xs12 px-2">

                                                    <div class="input text-field">

                                                        <div class="input__control">

                                                            <div class="input__slot">

                                                                <div class="text-field__slot">
                                                                    <label for="customer-email" class="label">Email</label>
                                                                    <input type="text" id="customer-email" name="customer-email" class="input__required" placeholder="elsa_klaus@gmail.com">
                                                                    <span class="d-none input__error__message">Email is required</span>

                                                                    <div class="checkbox-container">
                                                                        <input type="checkbox" name="newsletter" id="newsletter-checkbox" value="true" checked="checked">
                                                                        <label for="newsletter-checkbox">Keep me up to date on news and exclusive offers</label>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="layout row wrap input-container">

                                                <div class="flex xs6 px-2 width-input">

                                                    <div class="input text-field">

                                                        <div class="input__control">

                                                            <div class="input__slot">

                                                                <div class="text-field__slot">

                                                                    <label for="address-first-name" class="label">First name</label>
                                                                    <input type="text" id="address-first-name" name="address-first-name" class="input__required" placeholder="Elsa">
                                                                    <span class="d-none input__error__message">First name is required</span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="flex xs6 px-2 width-input">

                                                    <div class="input text-field">

                                                        <div class="input__control">

                                                            <div class="input__slot">

                                                                <div class="text-field__slot">

                                                                    <label for="address-last-name" class="label">Last name</label>
                                                                    <input type="text" id="address-last-name" name="address-last-name" class="input__required" placeholder="Kraus">
                                                                    <span class="d-none input__error__message">Last name is required</span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="flex xs12 px-2">

                                                    <div class="input text-field">

                                                        <div class="input__control">

                                                            <div class="input__slot">

                                                                <div class="text-field__slot">

                                                                    <label for="address-line" class="label">Address</label>
                                                                    <input type="text" id="address-line" name="address-line" class="input__required" placeholder="Schönhauser Allee 39">
                                                                    <span class="d-none input__error__message">Address is required</span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="flex xs12 px-2">

                                                    <div class="input text-field">

                                                        <div class="input__control">

                                                            <div class="input__slot">

                                                                <div class="text-field__slot">

                                                                    <label for="address-city" class="label">City</label>
                                                                    <input type="text" id="address-city" name="address-city" class="input__required" placeholder="Neuenburg">
                                                                    <span class="d-none input__error__message">City is required</span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="flex xs6 px-2 width-input-30">

                                                    <div class="input text-field">

                                                        <div class="input__control">

                                                            <div class="input__slot">

                                                                <div class="text-field__slot">

                                                                    <label for="address-country" class="label">Country</label>
                                                                    <input type="text" id="address-country" name="address-country" class="input__required" placeholder="Germany">
                                                                    <span class="d-none input__error__message">Country is required</span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="flex xs6 px-2 width-input-30">

                                                    <div class="input text-field">

                                                        <div class="input__control">

                                                            <div class="input__slot">

                                                                <div class="text-field__slot">

                                                                    <label for="address-province" class="label">Province</label>
                                                                    <input type="text" id="address-province" name="address-province" class="input__required" placeholder="Baden-Württemberg">
                                                                    <span class="d-none input__error__message">Province is required</span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="flex xs12 px-2">

                                                    <div class="input text-field">

                                                        <div class="input__control">

                                                            <div class="input__slot">

                                                                <div class="text-field__slot">

                                                                    <label for="address-postal-code" class="label">Postal code</label>
                                                                    <input type="text" id="address-postal-code" name="address-postal-code" class="input__required" placeholder="79395">
                                                                    <span class="d-none input__error__message">Postal code is required</span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="flex xs12 px-2">

                                                    <div class="input text-field">

                                                        <div class="input__control">

                                                            <div class="input__slot">

                                                                <div class="text-field__slot">

                                                                    <label for="address-phone" class="label">Phone</label>
                                                                    <input type="text" id="address-phone" name="address-phone" class="input__required" placeholder="07631 67 60 74">
                                                                    <span class="d-none input__error__message">Phone is required</span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="btn-container">
                                                <button type="button" id="btn_1" class="btn primary">Continue to delivery</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Step 2 -->
                            <div class="step-wrapper">
                                <div class="stepper__step" id="header_2">

                                    <span class="stepper__step__step primary">2</span>

                                    <div class="stepper__label">
                                        <div>Delivery</div>
                                        <small>Shipment summary and delivery methods</small>
                                    </div>

                                </div>
                                <div class="stepper__content d-none" id="step__2">

                                    <div class="stepper__wrapper">

                                        <div class="container">

                                            <div class="shipment-summary">

                                                <div class="shipment-header">Shipment 1 of 1</div>

                                                <div class="divider"></div>

                                                <div class="shipment-line-item body-2">

                                                    <div class="container">

                                                        <div class="layout row shipment-items">

                                                            <div class="flex shrink px-2 py-1">

                                                                <div class="responsive image">
                                                                    <div class="image__image image__image--cover demo__image"></div>
                                                                </div>

                                                            </div>

                                                            <div class="flex grow px-2 py-1">
                                                                <div class="name">IBU-RATIOPHARM® 400 MG AKUT SCHMERZTABLETTEN</div>
                                                                <div class="quanity">Quantity: 1</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="shipment-company">

                                                <div>
                                                    <input type="radio" id="tpd" name="delivery" value="tpd" checked="checked">
                                                    <label for="tpd">SEUR, S.A. (DPDgroup)</label>
                                                </div>
                                            </div>

                                            <div class="btn-container">
                                                <button type="button" id="btn_2" class="btn primary">Continue to payment</button>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Step 3 -->
                            <div class="step-wrapper">
                                <div class="stepper__step" id="header_3">

                                    <span class="stepper__step__step primary">3</span>

                                    <div class="stepper__label">
                                        <div>Payment</div>
                                        <small>Payment method and order confirmation</small>
                                    </div>

                                </div>
                                <div class="stepper__content d-none padding-payment" id="step__3">

                                    <div class="stepper__wrapper">

                                        <div class="pb-15">

                                            <form id="payment-form" data-secret="<%= client_secret %>">
                                                <div id="payment-element">
                                                    <!-- Elements will create form elements here -->
                                                </div>
                                                <button type="submit" class="btn-stripe">Pay 8.90€</button>
                                                <div id="error-message">
                                                    <!-- Display error message to your customers here -->
                                                </div>
                                            </form>

                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                    <div class="flex xs12 md5 order-xs1 order-md2">

                        <div class="order-summary">

                            <h2 class="order-summary-title">
                                Order summary
                                <span class="order-summary-title-total">8.90€</span>
                            </h2>

                            <div class="order-summary-content">

                                <div class="order-summary-header">
                                    Order number: #21460725
                                </div>

                                <div class="line-items">

                                    <div class="line-item body-2">

                                        <div class="container">

                                            <div class="layout row">

                                                <div class="flex xs3">

                                                    <div class="responsive image">
                                                        <div class="image__image image__image--cover demo__image"></div>
                                                    </div>
                                                </div>
                                                <div class="flex xs6">
                                                    <div class="name">IBU-RATIOPHARM® 400 MG AKUT SCHMERZTABLETTEN</div>
                                                    <div class="quanity">Quantity: 1</div>
                                                </div>
                                                <div class="flex xs3">
                                                    <div class="amount">3.95€</div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="subtotals">

                                    <div class="subtotal">
                                        <div class="container">
                                            <div class="layout row">

                                                <div class="flex xs6 offset-xs3">
                                                    <div class="label">Subtotal</div>
                                                </div>

                                                <div class="flex xs3">
                                                    <div class="amount">3.95€</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="subtotal">
                                        <div class="container">
                                            <div class="layout row">

                                                <div class="flex xs6 offset-xs3">
                                                    <div class="label">Shipping</div>
                                                </div>

                                                <div class="flex xs3">
                                                    <div class="amount">4.95€</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="subtotal total">
                                        <div class="container">
                                            <div class="layout row">

                                                <div class="flex xs6 offset-xs3">
                                                    <div>Order total</div>
                                                </div>

                                                <div class="flex xs3">
                                                    <div class="amount">8.90€</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

