<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://js.stripe.com/v3/"></script>

    <title>Stripe checkout</title>
</head>
<body>
<div><%- body %></div>
</body>
<script src="/js/checkout.js"></script>
<script src="/js/checkout_stripe.js"></script>
</html>